<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>실시간 선박 위치추적</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
  <script src="{% static 'bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=clkjj6mzd0"></script>
  <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- 폰트시작 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
  <!-- 폰트 끝 -->

</head>
<style>
  * {
    font-family: 'Noto Sans KR', sans-serif;
  }

  html, body{
    height:100%
  }

  #map {
    width: 100%;
    height: 100%;
    float: right;
  }
</style>

<script>
  let map
  let test
  let temp_html
  $(document).ready(function () {
    map = new naver.maps.Map('map', {
      center: new naver.maps.LatLng(37.4981125, 127.0379399),
      zoom: 10,
      zoomControl: true,
      zoomControlOptions: {
        style: naver.maps.ZoomControlStyle.SMALL,
        position: naver.maps.Position.TOP_RIGHT
      }

    });
  })
  $(document).on("click", "#search_button", function () {
    var search_key = $('#shipCallCode').val()
    $.ajax({
      type: 'GET',
      url: "{% url 'single_Vessel_position' %}",
      dataType: "json",
      data: {
        'search_key': search_key
      },
      error: function () {
        // 선박명이 없는경우 response에 실패
        alert("해당하는 선박을 찾을 수 없습니다.")
      },
      success: function (data) {
        $('#card_position').empty()
        console.log(data)
        console.log(typeof (data))
        data_json = data
        console.log(data_json)

        let temp_mmsi = data_json['mmsi']
        let temp_latitude = data_json['latitude']
        let temp_longitude = data_json['longitude']
        temp_html = `        <div class="card text-dark bg-light mb-3" style="height: 96.2%">
          <div class="card-header">${search_key}</div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">MMSI : ${temp_mmsi}<br>경도 : ${temp_latitude}<br>위도: ${temp_longitude}</p>
          </div>
        </div>`
        if (data_json['result'] == 'fail_data') {
          alert("정보를 제공하지 않는 선박입니다.")
        }
        markerMaking()
        $('#card_position').append(temp_html)
      }
    })
  })

  function markerMaking() {
    let marker = new naver.maps.Marker({
      position: new naver.maps.LatLng(data_json['latitude'], data_json['longitude']),
      map: map
    });
    var infowindow = new naver.maps.InfoWindow({
      content: temp_html
    });
    map.panTo(new naver.maps.LatLng(data_json['latitude'], data_json['longitude']));
    naver.maps.Event.addListener(marker, "click", function (e) {
      if (infowindow.getMap()) {
        infowindow.close();
      } else {
        infowindow.open(map, marker);
      }
    });
  }
</script>

<body>
  <div style="height:100%">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main' %}">힘찬불나방</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'anchorage' %}">정박지 현황</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ship_position' %}">실시간 선박 위치추적</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'wharf' %}">부두 현황</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'safety' %}">안전 재난경보</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row" style="height: 100%;">
      <div class="col-xl-4" style="margin:0px;padding-right:0px">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="선박 호출부호" aria-describedby="basic-addon2"
            id="shipCallCode">
          <button type="button" class="btn btn-primary" id="search_button">검색</button>
        </div>
        <div id="card_position" style="height: 100%;">
        </div>
      </div>
      <div class="col-xl-8" style="padding-left:0px; border-radius: 30px;">
        <div id="map" style="border-radius: 30px;"></div>
      </div>
    </div>
    <div id="data_table">{{testJson}}</div>
  </div>
</body>

</html>