<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>정박지 현황</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
  <script src="{% static 'bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=clkjj6mzd0"></script>
  <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- 폰트시작 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
  <!-- 폰트 끝 -->
  <!-- 다른폰트 시작 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
  <!-- 다른 폰트 끝 -->
    <!--CRMi Style-->
    <link rel="stylesheet" href="{% static 'src/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/skin_color.css' %}">
    <!-- Vendors Style-->
    <link rel="stylesheet" href="{% static 'src/css/vendors_css.css' %}">
</head>
<style>
  * {
    font-family: 'Gamja Flower', cursive;
    /*font-family: 'Noto Sans KR', sans-serif;*/
  }

  #map {
    width: 100%;
    height: 1300px;
    float: right;
  }

  .input-group-text{
    width: 200px;
  }
</style>
<script>
  let map
  $(document).ready(function () {
    map = new naver.maps.Map('map', {
      center: new naver.maps.LatLng(35.44043374181368, 129.3934977814075),
      zoom: 12,
      zoomControl: true,
      zoomControlOptions: {
        style: naver.maps.ZoomControlStyle.SMALL,
        position: naver.maps.Position.TOP_RIGHT
      }

    });
    
  })

  function ShowingAnchor(n, m) { ///n은 정박지 선택, m은 기능 선택
    if(m==0)
      emptyMap();
    switch (n) {
      case 1:
          jungbak_E1 = new naver.maps.Polygon({
          map: map,
          paths: [
            [
              new naver.maps.LatLng(35.466388888888886, 129.3996388888889),
              new naver.maps.LatLng(35.466388888888886, 129.42630555555556),
              new naver.maps.LatLng(35.44638888888889, 129.44691666666668),
              new naver.maps.LatLng(35.44638888888889, 129.40738888888887),

            ]
          ],
          fillColor: '#c399dc',
          fillOpacity: 0.2,
          strokeColor: '#1980cf',
          strokeOpacity: 0.6,
          strokeWeight: 3,
          zIndex: 1,
          clickable: true
        });
        
        if (m == 0) {
          var infowindow = new naver.maps.InfoWindow({
            content: '정박지 E1'
          });
          infowindow.open(map, new naver.maps.LatLng(35.466388888888886, 129.3996388888889));
        }
        for(let i=1;i<5;i++)
        {
          var defaultMarker = new naver.maps.Marker({
    position: new naver.maps.LatLng(35.465388888888886-i*0.004, 129.4006388888889+i*0.002),
    map: map,
    icon: {
        content: `<img src="{% static 'images/ship1.png' %}" width="50" height="50"></img>`,
        size: new naver.maps.Size(22, 35),
        anchor: new naver.maps.Point(11, 35)
    }
});
var defaultMarker1 = new naver.maps.Marker({
    position: new naver.maps.LatLng(35.465388888888886-i*0.004, 129.4106388888889+i*0.002),
    map: map,
    icon: {
        content: `<img src="{% static 'images/ship1.png' %}" width="50" height="50"></img>`,
        size: new naver.maps.Size(22, 35),
        anchor: new naver.maps.Point(11, 35)
    }
});
var defaultMarker2 = new naver.maps.Marker({
    position: new naver.maps.LatLng(35.465388888888886-i*0.004, 129.4206388888889+i*0.002),
    map: map,
    icon: {
        content: `<img src="{% static 'images/ship1.png' %}" width="50" height="50"></img>`,
        size: new naver.maps.Size(22, 35),
        anchor: new naver.maps.Point(11, 35)
    }
});
        }
        
        map.setCenter(new naver.maps.LatLng(35.4550,129.410))
        map.setZoom(14,true)
        break;
      case 2:
          jungbak_E2 = new naver.maps.Polygon({
          map: map,
          paths: [
            [
              new naver.maps.LatLng(35.44638888888889, 129.44691666666668),
              new naver.maps.LatLng(35.44638888888889, 129.40738888888887),
              new naver.maps.LatLng(35.428888888888885, 129.41416666666666),
              new naver.maps.LatLng(35.428888888888885, 129.48025),
            ]
          ],
          fillColor: '#c399dc',
          fillOpacity: 0.2,
          strokeColor: '#1980cf',
          strokeOpacity: 0.6,
          strokeWeight: 3
        });
        if (m == 0) {
          var infowindow = new naver.maps.InfoWindow({
            content: '정박지 E2'
          });
          infowindow.open(map, new naver.maps.LatLng(35.44638888888889, 129.40738888888887));
        }
        for(let i=1;i<3;i++)
        {
          var defaultMarker = new naver.maps.Marker({
    position: new naver.maps.LatLng(35.445388888888886-i*0.006, 129.4106388888889+i*0.005),
    map: map,
    icon: {
        content: `<img src="{% static 'images/ship1.png' %}" width="50" height="50"></img>`,
        size: new naver.maps.Size(22, 35),
        anchor: new naver.maps.Point(11, 35)
    }
});
var defaultMarker1 = new naver.maps.Marker({
    position: new naver.maps.LatLng(35.445388888888886-i*0.006, 129.4206388888889+i*0.005),
    map: map,
    icon: {
        content: `<img src="{% static 'images/ship1.png' %}" width="50" height="50"></img>`,
        size: new naver.maps.Size(22, 35),
        anchor: new naver.maps.Point(11, 35)
    }
});
        }
        map.setCenter(new naver.maps.LatLng(35.4340,129.410))
        map.setZoom(14,true)
        break;
      case 3:
          jungbak_E3 = new naver.maps.Polygon({
          map: map,
          paths: [
            [
              new naver.maps.LatLng(35.428888888888885, 129.41416666666666),
              new naver.maps.LatLng(35.40305555555555, 129.42416666666665),
              new naver.maps.LatLng(35.40305555555555, 129.4643611111111),
              new naver.maps.LatLng(35.428888888888885, 129.4643611111111),

            ]
          ],
          fillColor: '#c399dc',
          fillOpacity: 0.2,
          strokeColor: '#1980cf',
          strokeOpacity: 0.6,
          strokeWeight: 3
        });
        if (m == 0) {
          var infowindow = new naver.maps.InfoWindow({
            content: '정박지 E3'
          });
          infowindow.open(map, new naver.maps.LatLng(35.428888888888885, 129.41416666666666));
        }
        for(let i=1;i<3;i++)
        {
          var defaultMarker = new naver.maps.Marker({
    position: new naver.maps.LatLng(35.425388888888886-i*0.006, 129.4206388888889+i*0.005),
    map: map,
    icon: {
        content: `<img src="{% static 'images/ship1.png' %}" width="50" height="50"></img>`,
        size: new naver.maps.Size(22, 35),
        anchor: new naver.maps.Point(11, 35)
    }
});
var defaultMarker1 = new naver.maps.Marker({
    position: new naver.maps.LatLng(35.425388888888886-i*0.006, 129.4406388888889+i*0.005),
    map: map,
    icon: {
        content: `<img src="{% static 'images/ship1.png' %}" width="50" height="50"></img>`,
        size: new naver.maps.Size(22, 35),
        anchor: new naver.maps.Point(11, 35)
    }
});
        }
        map.setCenter(new naver.maps.LatLng(35.4160,129.410))
        map.setZoom(14,true)
        break;
      default:
        alert("easroijfoewiajfoiew");
    }
  }
  function emptyMap()
  {
    map.destroy()
    map = new naver.maps.Map('map', {
      center: new naver.maps.LatLng(35.44043374181368, 129.3934977814075),
      zoom: 12,
      zoomControl: true,
      zoomControlOptions: {
        style: naver.maps.ZoomControlStyle.SMALL, 
        position: naver.maps.Position.TOP_RIGHT
      }

    });
  }
  function test(n)
  {
    $('#shipInfo').empty()
    $('.anchorStatus').empty()
    switch(n){
      case 1:
      let temp_html1=`{% if E1_quantity > 16 %}
              <div class="alert alert-danger" style="color:black;font-size:x-large;">
                <strong>혼잡!</strong> 현재 정박중인 선박 수 : {{E1_quantity}}
              </div>
              {% else %}
              <div class="alert alert-info" style="color:black;font-size:x-large;">
                <strong>여유!</strong> 현재 정박중인 선박 수 : {{E1_quantity}}
              </div>
              {% endif %}`
      $('.anchorStatus').append(temp_html1)
      temp_html1 = `{% for ship in E1 %}
              <tr>
                <th scope="row"></th>
                <td>{{ship.13}}</td>
                <td>{{ship.3}}</td>
                <td>{{ship.4}}</td>
             </tr>
              {% endfor %}`
              $('#shipInfo').append(temp_html1)
              break;
      case 2:
      let temp_html2=`{% if E2_quantity > 7 %}
              <div class="alert alert-danger" style="color:black;font-size:x-large;">
                <strong>혼잡!</strong> 현재 정박중인 선박 수 : {{E2_quantity}}
              </div>
              {% else %}
              <div class="alert alert-info" style="color:black;font-size:x-large;">
                <strong>여유!</strong> 현재 정박중인 선박 수 : {{E2_quantity}}
              </div>
              {% endif %}`
      $('.anchorStatus').append(temp_html2)
      temp_html2 = `{% for ship in E2 %}
              <tr>
                <th scope="row"></th>
                <td>{{ship.13}}</td>
                <td>{{ship.3}}</td>
                <td>{{ship.4}}</td>
             </tr>
              {% endfor %}`
              $('#shipInfo').append(temp_html2)
              break;
      case 3:
      let temp_html3=`{% if E3_quantity > 7 %}
              <div class="alert alert-danger"  style="color:black;font-size:x-large;">
                <strong>혼잡!</strong> 현재 정박중인 선박 수 : {{E3_quantity}}
              </div>
              {% else %}
              <div class="alert alert-info"  style="color:black;font-size:x-large;">
                <strong>여유!</strong> 현재 정박중인 선박 수 : {{E3_quantity}}
              </div>
              {% endif %}`
      $('.anchorStatus').append(temp_html3)
      temp_html3 = `{% for ship in E3 %}
              <tr>
                <th scope="row"></th>
                <td>{{ship.13}}</td>
                <td>{{ship.3}}</td>
                <td>{{ship.4}}</td>
             </tr>
              {% endfor %}`
              $('#shipInfo').append(temp_html3)
              break;
      default:
        alert("aoiejf");
    }
  }
</script>

<body>
    <!-- 네비게이션바 시작 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main' %}" style="font-size: xx-large;">힘찬불나방</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'anchorage' %}" style="font-size: x-large;padding-left: 50px;">정박지 현황</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'wharf' %}" style="font-size: x-large;padding-left: 50px;">부두 현황</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- 네비게이션바 끝 -->
  <div class="row">
    <div class="col-xl-4" style="padding:0px">
      <div class="card border-3 border-primary" style="margin-left:12px;">
        <div class="card-body">
          <h4 class="card-title" style ="font-size: x-large;">울산항 정박지 재박 현황</h4>
          <p class="card-text">
            <div class="btn-group-horizontal">
              <button type="button" class="btn btn-primary" onclick="ShowingAnchor(1,0);test(1);" style ="font-size: x-large;">정박지 E1</button>
              <button type="button" class="btn btn-primary" onclick="ShowingAnchor(2,0);test(2);"style ="font-size: x-large;">정박지 E2</button>
              <button type="button" class="btn btn-primary" onclick="ShowingAnchor(3,0);test(3);"style ="font-size: x-large;">정박지 E3</button>
              <button type="button" class="btn btn-primary" onclick="emptyMap()"style ="font-size: x-large;">초기화</button>
            </div>
          </p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style ="font-size: x-large;">#</th>
                <th scope="col" style ="font-size: x-large;">입항 시각</th>
                <th scope="col" style ="font-size: x-large;">선박 이름</th>
                <th scope="col" style ="font-size: x-large;">국적</th>
              </tr>
            </thead>
            <div class="anchorStatus">
            </div>
            <tbody id="shipInfo">    
            </tbody>
          </table>
        </div>
      </div>
      <div class="card border-3 border-primary" style="margin-left:12px;">
        <div class="card-body">
          <h2>정박지 대기율 조회</h2>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="anchorage1" style ="font-size: x-large;">신고톤수(단위:천톤)</span>
            </div>
            <!-- <input type="text" class="form-control" id="anchorage1-input" aria-describedby="basic-addon3"value="3"> -->
            <input type="text" class="form-control" id="anchorage1-input" aria-describedby="basic-addon3">
          </div>
          <!-- <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="anchorage2">차항지</span>
            </div>
            <input type="text" class="form-control" id="anchorage2-input" aria-describedby="basic-addon3">
          </div> -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="anchorage3" style ="font-size: x-large;">선박용도</span>
            </div>
            <!-- <input type="text" class="form-control" id="anchorage3-input" aria-describedby="basic-addon3"value="시멘트운반선"> -->
            <input type="text" class="form-control" id="anchorage3-input" aria-describedby="basic-addon3">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="anchorage4" style ="font-size: x-large;">서비스 횟수</span>
            </div>
            <!-- <input type="text" class="form-control" id="anchorage4-input" aria-describedby="basic-addon3"value="2"> -->
            <input type="text" class="form-control" id="anchorage4-input" aria-describedby="basic-addon3">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="anchorage5" style ="font-size: x-large;">정박대기 횟수</span>
            </div>
            <!-- <input type="text" class="form-control" id="anchorage5-input" aria-describedby="basic-addon3"value="1"> -->
            <input type="text" class="form-control" id="anchorage5-input" aria-describedby="basic-addon3">
          </div>
          <button type="button" class="btn btn-primary" id="anchorage-search">검색</button>
        </div>
        <div  id="anchorage-result"style="
        position: relative;
        left: 23px;
        margin-bottom: 40px;
        margin-top: 40px;
        font-size: 60px;
        display: none;
        ">
        </div>
      </div>
    </div>
    <div class="col-xl-8" style="padding:0px">
      <div id="map" style="border-radius: 30px;"></div>
    </div>
  </div>

</body>

<script>
  //컨테이너 수송량 검색
  $(document).on("click", "#anchorage-search", function () {
    let search_key1 = $('#anchorage1-input').val()
    // let search_key2 = $('#anchorage2-input').val()
    let search_key3 = $('#anchorage3-input').val()
    let search_key4 = $('#anchorage4-input').val()
    let search_key5 = $('#anchorage5-input').val()

    console.log(search_key1)
    // console.log(search_key2)
    console.log(search_key3)
    console.log(search_key4)
    console.log(search_key5)

    $.ajax({
      type: 'GET',
      url: "{% url 'anchorage_predict' %}",
      dataType: "json",
      data: {
        'search_key1': search_key1,
        // 'search_key2': search_key2,
        'search_key3': search_key3,
        'search_key4': search_key4,
        'search_key5': search_key5,
      },
      error: function () {
        // 선박명이 없는경우 response에 실패
        alert("에러")
      },
      success: function (data) {
        $('#anchorage-result').css("display", "block");
        $('#anchorage-result').empty();

        data_json = data
        result = data_json['result']
        $('#anchorage-result').append("대기율 : "+result + "%")
      }
    })
  })
</script>

</html>