<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>정박지 현황</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
  <script src="{% static 'bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=clkjj6mzd0"></script>
  <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- 폰트시작 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
  <!-- 폰트 끝 -->
</head>
<style>
  * {
    font-family: 'Noto Sans KR', sans-serif;
  }

  #map {
    width: 100%;
    height: 500px;
    float: right;
  }
</style>
<script>
  let map
  $(document).ready(function () {
    map = new naver.maps.Map('map', {
      center: new naver.maps.LatLng(35.44043374181368, 129.3934977814075),
      zoom: 12,
      zoomControl: true,
      zoomControlOptions: {
        style: naver.maps.ZoomControlStyle.SMALL,
        position: naver.maps.Position.TOP_RIGHT
      }

    });
  })

  function ShowingAnchor(n, m) { ///n은 정박지 선택, m은 기능 선택
    switch (n) {
      case 1:
          jungbak_E1 = new naver.maps.Polygon({
          map: map,
          paths: [
            [
              new naver.maps.LatLng(35.466388888888886, 129.3996388888889),
              new naver.maps.LatLng(35.466388888888886, 129.42630555555556),
              new naver.maps.LatLng(35.44638888888889, 129.44691666666668),
              new naver.maps.LatLng(35.44638888888889, 129.40738888888887),

            ]
          ],
          fillColor: '#ff0000',
          fillOpacity: 0.2,
          strokeColor: '#ff0000',
          strokeOpacity: 0.6,
          strokeWeight: 3,
          zIndex: 1,
          clickable: true
        });
        if (m == 0) {
          var infowindow = new naver.maps.InfoWindow({
            content: '정박지 E1'
          });
          infowindow.open(map, new naver.maps.LatLng(35.466388888888886, 129.3996388888889));
        }

        break;
      case 2:
          jungbak_E2 = new naver.maps.Polygon({
          map: map,
          paths: [
            [
              new naver.maps.LatLng(35.44638888888889, 129.44691666666668),
              new naver.maps.LatLng(35.44638888888889, 129.40738888888887),
              new naver.maps.LatLng(35.428888888888885, 129.41416666666666),
              new naver.maps.LatLng(35.428888888888885, 129.48025),
            ]
          ],
          fillColor: '#7ed770',
          fillOpacity: 0.2,
          strokeColor: '#ff0000',
          strokeOpacity: 0.6,
          strokeWeight: 3
        });
        if (m == 0) {
          var infowindow = new naver.maps.InfoWindow({
            content: '정박지 E2'
          });
          infowindow.open(map, new naver.maps.LatLng(35.44638888888889, 129.40738888888887));
        }
        break;
      case 3:
          jungbak_E3 = new naver.maps.Polygon({
          map: map,
          paths: [
            [
              new naver.maps.LatLng(35.428888888888885, 129.41416666666666),
              new naver.maps.LatLng(35.40305555555555, 129.42416666666665),
              new naver.maps.LatLng(35.40305555555555, 129.4643611111111),
              new naver.maps.LatLng(35.428888888888885, 129.4643611111111),

            ]
          ],
          fillColor: '#c399dc',
          fillOpacity: 0.2,
          strokeColor: '#ff0000',
          strokeOpacity: 0.6,
          strokeWeight: 3
        });
        if (m == 0) {
          var infowindow = new naver.maps.InfoWindow({
            content: '정박지 E3'
          });
          infowindow.open(map, new naver.maps.LatLng(35.428888888888885, 129.41416666666666));
        }
        break;
      default:
        alert("easroijfoewiajfoiew");
    }
  }
  function emptyMap()
  {
    map.destroy()
    map = new naver.maps.Map('map', {
      center: new naver.maps.LatLng(35.44043374181368, 129.3934977814075),
      zoom: 12,
      zoomControl: true,
      zoomControlOptions: {
        style: naver.maps.ZoomControlStyle.SMALL,
        position: naver.maps.Position.TOP_RIGHT
      }

    });
  }
</script>

<body>
  <!-- 네비게이션바 시작 -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'main' %}">힘찬불나방</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">정박지 현황</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ship_position' %}">실시간 선박 위치추적</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'wharf' %}">부두 현황</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'safety' %}">안전 재난경보</a>
        </ul>
      </div>
    </div>
  </nav>
  <!-- 네비게이션바 끝 -->
  <div class="row">
    <div class="col-xl-4" style="padding:0px">
      <div class="card border border-primary">
        <div class="card-body">
          <h4 class="card-title">울산항</h4>
          <p class="card-text">
            <div class="btn-group-horizontal">
              <button type="button" class="btn btn-primary" onclick="ShowingAnchor(1,0)">정박지 E1</button>
              <button type="button" class="btn btn-primary" onclick="ShowingAnchor(2,0)">정박지 E2</button>
              <button type="button" class="btn btn-primary" onclick="ShowingAnchor(3,0)">정박지 E3</button>
              <button type="button" class="btn btn-primary" onclick="emptyMap()">초기화</button>
            </div>
          </p>
        </div>
      </div>
      <div class="card border border-primary">
        <div class="card-body">
          <h2>정박지 대기율 조회</h2>
          <input type="text" class="form-control" placeholder="예상 작업시간 (hour)">
          <button type="button" class="btn btn-primary"
            onclick="ShowingAnchor(1,1);ShowingAnchor(2,1);ShowingAnchor(3,1)">검색</button>
        </div>
      </div>
    </div>
    <div class="col-xl-8" style="padding:0px">
      <div id="map"></div>
    </div>
  </div>

</body>

</html>